* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  font-size: clamp(13px, 1.3vw, 13px);
  color: var(--Very-dark-grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  --image-size: 3rem;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--Light-grayish-blue);
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1rem;
  font-weight: 500;
}
p {
  opacity: 70%;
  z-index: 1;
}
.grid {
  width: fit-content;
  margin: 3rem;
  display: grid;
  justify-content: center;
  gap: 2rem;
}
.grid-item {
  padding: 1rem;
  width: 100%;
  max-width: 25.3rem;
  background: var(--White);
  border-radius: 0.8rem;
  padding: 3rem;
  box-shadow: 1rem 2rem 5rem rgba(0, 0, 0, 0.192);
  position: relative;
  transition: 0.5s;
}
.grid-item:hover {
  transform: scale(1.05);
}
.grid-header {
  display: flex;
  margin-bottom: 1.5rem;
}
.grid-header img {
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 50%;
  margin-right: 1rem;
}
.name-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-and-title p {
  opacity: 50%;
  font-weight: 500;
}
.grid:hover .grid-item:not(:hover) {
  filter: blur(2px) grayscale(30%);
}
/* 
==========================
==========================
specific grid items style 
==========================
==========================
*/
.grid-item:nth-of-type(1) {
  background: var(--Moderate-violet);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0rem right 1.8rem;
  background-size: 8rem;
  color: var(--White);
}
.grid-item:nth-of-type(2) {
  background: var(--Very-dark-grayish-blue);
  color: var(--White);
}
.grid-item:nth-of-type(4) {
  background: var(--Very-dark-blackish-blue);
  color: var(--White);
}
.grid-item:nth-of-type(1) img {
  border: 0.3em solid rgba(255, 255, 255, 0.315);
}
.grid-item:nth-of-type(4) img {
  border: 0.3em solid var(--Moderate-violet);
}

@media (min-width: 50em) {
  .grid {
    grid-template-columns: repeat(2, 23rem);
  }
  .grid-item {
    width: 100%;
    height: 100%;
    max-width: none;
    padding: 2rem;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  p {
    font-size: 1.16rem;
  }
  .grid-item > p {
    font-size: 1.18rem;
    font-weight: 300;
  }
  .grid-item:nth-of-type(5) {
    grid-column: span 2;
  }
}

@media (min-width: 76em) {
  .grid {
    grid-template-columns: repeat(4, 21rem);
    grid-template-rows: repeat(2, 24rem);
  }
  .grid-item {
    width: 100%;
    height: 100%;
    max-width: none;
  }
  .grid-item:nth-of-type(1) {
    background-position: top 0 right 7em;
    grid-column: span 2;
  }
  .grid-item:nth-of-type(4) {
    grid-column: 2 / span 2;
  }
  .grid-item:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}
